@import '~/node_modules/bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#app {
    font-family: Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* utilities */

.btn_site {
    font-size: 0.85rem;
    text-transform: uppercase;
    padding: 0.7rem 1.9rem;
    border: none;
}

.divisor {
    color: $divisorText;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.line_30 {
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: $lightGreen;
    margin-right: 1rem;
}