/* COLOR */

$blueBrand: #1f1e38;
$lightGreen: #39FFBF;
$btnHover: #F81D39;
$iconBg: #F81D39;
$arrowBg: #36354C;
$bgChat: #527CEB;

/* TEXT */

$globalText: #818A91;
$menuText: #AAAAAA;
$divisorText: #ffffffB3;
$textCustumerCard: #949497;
$textNewsInfo: #F81D39;
$textOnGreen: #1F1E3899;
$footerDivisor: #818a913b;