/* UNIVERSAL */

$white: #ffffff;
$lightGreen: #39FFBF;
$btnHover: #F81D39;
$blueBrand: #1f1e38;
$iconBg: #F81D39;

/* HEADER */

$menuText: #AAAAAA;

/* main / jumbo */

$divisorText: #ffffffB3;
$textStrategy: #818A91;